.btn{
    width: auto;
    height: 40px;
    background-color: oklch(0.21 0.03 263.45);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
}

.btn:hover{
    background-color: rgb(74, 74, 74);
}

.flex{
    display: flex;
}

.ac{
    align-items: center;
}

.js{
    justify-content: center;
}

.gap{
    gap: 20px;
}

a{
    text-decoration: none;
    color:#fff;
}